<!-- Title -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Error --> 
<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <%  }) %>
    </ul>
    <% } %>

<!-- Message -->
<% if (message) { %>
    <p class="notice"><%= message %></p>
    <% } %>

<div id="add-vehicle-cont">
    <form id="add-vehicle-form" action="/inv/add-vehicle" method="post">
        <p>*All fields are required*</p>

        <%- dropdown %>

        <label for="inv_make">Make</label>
        <input type="text" name="inv_make" id="inv_make" pattern="[A-Za-z0-9]{3,}" placeholder="Min 3 characters" required value="<%=locals.inv_make %>">

        <label for="inv_model">Model</label>
        <input type="text" name="inv_model" id="inv_model" pattern="[A-Za-z0-9]{3,}" placeholder="Min 3 characters" required value="<%=locals.inv_model %>">

        <label for="inv_year">Year</label>
        <input type="number" name="inv_year" id="inv_year" min="1886" placeholder="YYYY" required value="<%=locals.inv_year %>">

        <label for="inv_description">Description</label>
        <textarea name="inv_description" id="inv_description" rows="7" required><%=locals.inv_description%></textarea>

        <label for="inv_image">Image Path</label>
        <input type="text" name="inv_image" id="inv_image" required value="<%=`${locals.inv_image == null? "/images/vehicles/no-image.png": locals.inv_image}`%>">

        <label for="inv_thumbnail">Thumbnail Path</label>
        <input name="inv_thumbnail" id="inv_thumbnail" required value="<%=`${locals.inv_thumbnail == null? "/images/vehicles/no-image.png": locals.inv_thumbnail}`%>">

        <label for="inv_price">Price</label>
        <input type="number" name="inv_price" id="inv_price" min="0" required value="<%=locals.inv_price %>">

        <label for="inv_miles">Miles</label>
        <input type="number" name="inv_miles" id="inv_miles" min="0" required value="<%=locals.inv_miles %>">

        <label for="inv_color">Color</label>
        <input type="text" name="inv_color" id="inv_color" required value="<%=locals.inv_color %>">

        <input id="add-vehicle-submit" type="submit" value="Add Vehicle">
    </form>
</div>